.main{
    margin-left: 3rem;
    display: flex;
}

.details-contact{
    display: block;
    margin-left: 0rem;
    margin-top: 13rem;
}

.block{
    display: flex;
    margin-left: 2rem;
}

.phonecall{
    margin-left: 5rem;
}

.phonecall p{
    margin-left: -1.8rem;
}
.whatsapp p{
    margin-left: -1.8rem;
}

.media{
    margin-left: 5rem;
}

.media p{
    font-size: 1.5rem;
}