<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../Css/main new.css">
    <link rel="stylesheet" href="../Css/contact.css">
</head>


<body>
    <!--Creating the navbar-->
    <nav class="navigation">
        <ul>
            <li><a href="../new main.html" class="active">Home</a></li>
            <li><a href="Templates/destination.html">Destinations</a></li>
            <li><a href="../Templates/About us.html">About Us</a></li>
            <li><a href="../Templates/contact.html">Contact</a></li>
        </ul>
    </nav>

    <!--Creating a hero section for the website-->
    <div class="main">
        <div class="media">
            <h1><span>Talk</span> to us</h1>
            <p><span>Message us</span> if ou want to book a tour or have any questions.</p>
            <img src="../assets/info-center.png" width="300" alt="information icon">
        </div>

        <div class="details-contact">
            <h1><span>Our contact</span> details</h1>

            <div class="block">
                <div class="whatsapp">
                    <img src="../assets/whatsapp.png" width="40" alt="whatsapp image">
                    <p>+266 51661331</p>
                </div>
            
                <div class="phonecall">
                    <img src="../assets/phone-call (2).png" width="40" alt="phone call image">
                    <p>+266 63088185</p>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>






