<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Destinations</title>
		
	<link href="destination.css" rel="stylesheet" type="text/css">
		
	</head>
<body>
    <header>
        <h1>Explore Travel Destinations</h1>
    </header>
    
    <!-- Navigation Menu -->
    <nav>
        <ul>
            <li><a href="../home.html">Home</a></li>
            <li><a href="destination.html">Destinations</a></li>
             <li><a href="../Templates/About us.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <!-- Destinations Section -->
    <section>
        <h2>Our Top Destinations</h2>

        <!-- Grid Layout for Destinations -->
        <div class="destination-grid">
            <div class="destination-item">
                                <img alt="pp" src="../assets/download%20(1).jpeg">
                                <h3>Paris, France</h3>
                <p>The city of lights, known for its iconic Eiffel Tower and rich culture.</p>
                <a href="https://en.parisinfo.com/" target="_blank">Learn more</a>
            </div>
            <div class="destination-item">
            
                
                <img alt="aa" src="../assets/R.jpeg">
                <h3>Tsehlanyane</h3>
                <p>Ts'ehlanyane National Park is a National Park in Lesotho. It is located in the Maloti Mountains in Leribe District, and is part of the larger Maloti-Drakensberg Transfrontier Conservation Area</p>
                <a href="https://www.tripadvisor.com/SmartDeals-g1368063-Tsehlanyane_National_Park_Butha_Buthe_District-Hotel-Deals.html" target="_blank">Learn more</a>
            </div>
            <div class="destination-item">
                
                <img alt="bb" src="../assets/lesotho_cascate_semokong.jpg">
                <h3>Maletsunyane Falls</h3>
                <p>It is located near the town of Semonkong (Site of smoke), which also is named after the falls. The waterfall is on the Maletsunyane River and it falls from a ledge of Triassic-Jurassic basalt.</p>
                <a href="https://africanlanders.com/en/lesotho-en/lesotho-semonkong-and-maletsunyane-falls/#:~:text=You%20can%20see%20the%20Maletsunyane%20Falls%20on%20the%20other%20side" target="_blank">Learn more</a>
            </div>
        </div>

        <!-- Multimedia Element (Video) -->
        <div class="multimedia">
        <!DOCTYPE html>
<html>

<body>
          

<!-- Correct Video Implementation -->
 <video controls height="400" width="800">
 <source src="../Majestic…..8 months to go #maletsunyanebraaifest.mp4" type="video/mp4">
 <source src="" type="video/mp4">
 <source src="videos/sample.ogv" type="video/ogg">
</video>
       </section>

    <footer>
        <p>&copy; 2024 Travel Destinations</p>
    </footer>
</body>
</html>
